@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
}

ul {
    padding: 0;
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C0C64;
    color: white;
    padding: 15px 35px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration:none;
}

main {
    padding: 35px;
}

main h2 {
    margin-bottom: 40px;
}

section {
    height: 800px;
    background-color: pink;

    display: flex;
    flex-direction: row;

    /* ALINEAR ELEMENTOS EN EL EJE PRINCIPAL */
    justify-content: center;

    /* ALINEAR ELEMENTOS EN EL EJE SECUNDARIO */
    align-items: center;
}

.box {
    width: 800px;
    height: 200px;
    padding: 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}


.box:first-child {
    background-color: #540D6E;
}


.box:nth-child(2) { background-color: #ee4266 }
.box:nth-child(3) {
    background-color: #ffd23f;
    color: black
}
.box:nth-child(4) { background-color: #3bceac }


footer .superior {
    background-color: #16284c;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

footer .superior div ul {
    display: flex;
}

footer .inferior {
    padding: 10px 0;
    text-align: center;
    background-color: black;
    color: white;
}
